body{
    margin: 0%;

    font-family: 'Poppins', sans-serif;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.half-width{
width: 50%;
padding: 5%;
padding-left: 2%;

}
.half-width img{
    width: 100%;
}
.link-button{
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5%;
    color: antiquewhite;
    font-weight: 700;
    text-decoration: none;

}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right}